.cards-container {
  /* create a view timeline based on scrolling */
  view-timeline-name: --cards;
  view-timeline-axis: block;
}

.slide-fade {
  opacity: 0;
  transform: translateX(120px);

  /* attach animation to scroll */
  animation-name: slide-fade;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timeline: --cards;
//   animation-range: entry 0% cover 40%;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateX(120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
